.text-card a {color:#363636;}
.speedbar {
	margin: 10px 0px -47px 18px;
    font-size: 16px;
}
span#dle-speedbar a {color:#363636;}
.messages_sdat {
        text-align: center;
    font-size: 15px;
}
i.star {
    background: none repeat scroll 0 0 #7b8e9a;
    border-radius: 20px;
    color: #ffffff;
    display: inline-block;
    font-size: 22px;
    height: 20px;
    line-height: 24px;
    margin-right: 5px;
    padding-top: 3px !important;
    padding-right: 3px !important;
    text-align: center;
    vertical-align: top;
    width: 20px;
}
div#openModal-phone {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  z-index: 99999;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  display: none;
  pointer-events: none;
}
div#openModal-phone:target {
  display: block;
  pointer-events: auto;
}

div#openModal-phone > div {
    width: 510px;
    position: relative;
    margin: 10% auto;
    background: #FFF;
    background: -moz-linear-gradient(#fff, #999);
}
.jqmClose.top-close {
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    color: #fff;
    opacity: 0.5;
    position: absolute;
    top: 32px;
    right: 32px;
    font-size: 25px;
    cursor: pointer;
}
.jqmClose.top-close:hover {
    opacity: 1;
}
.form .form-header {
    border-top-color: #b5575f !important;
    background: #b5575f !important;
}
.form .form-header {
    min-height: 115px;
    padding: 30px 30px 45px 36px;
    background: #d4d4d4;
    border-top: 2px solid #d4d4d4;
}
.fa-remove:before, .fa-close:before, .fa-times:before {
    content: "\f00d";
}
.form .form-header i {
    color: #b5575f !important;
}
.form .form-header i {
    width: 54px;
    height: 54px;
    line-height: 54px;
    text-align: center;
    color: #d4d4d4;
    float: left;
    font-size: 36px;
    border-radius: 2px;
    background: #fff;
}
.form .form-header .text {
    padding-left: 74px;
    color: #fff;
    font-size: 13px;
        line-height: 20px;
}
.form .form-header .title {
    font-size: 24px;
    font-weight: 600;
    line-height: 25px;
    margin-bottom: 5px;
    color: #fff;
}
.form.popup .form-body {
    padding: 24px 60px 0;
    background: white;
}
.leanModal label {
  font-weight: normal;
  font-size: 13px;
}
.leanModal .form-group {
    margin-bottom: 14px;
  }
.form .form-group i {
    position: absolute;
    top: 40px;
    right: 24px;
    font-size: 17px;
    color: #c4ccd1;
}
.form .required-star {
    color: #e02222;
    margin-left: 3px;
    font-weight: normal;
    font-size: 18px;
    vertical-align: middle;
}
.form.popup .form-footer {
    padding: 14px 60px 52px;
    display: block;
    text-align: center;
}
.form .required-fileds {
    padding: 7px 0;
    color: #98a1a8;
    font-size: 12px;
    line-height: 21px;
}
.form .star {
    background: none repeat scroll 0 0 #7b8e9a;
    border-radius: 20px;
    color: #ffffff;
    display: inline-block;
    font-size: 22px;
    height: 20px;
    line-height: 24px;
    margin-right: 5px;
    padding-right: 0px;
    text-align: center;
    vertical-align: top;
    width: 20px;
}
.form-control:focus {
    border-color: #f2333a;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(158, 50, 50, 0.6);
}
.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
button#btn_recall {
    width: 150px;
    height: 50px;
    background-color: #b5575f;
    border: none;
    font-size: 16px;
    font-family: "MyriadPro-Bold";
    color: #ffffff;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
}

div#openModal-feed,
div#openModal-feed2{
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  z-index: 99999;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  display: none;
  pointer-events: none;
}
div#openModal-feed:target,
div#openModal-feed2:target{
  display: block;
  pointer-events: auto;
}

div#openModal-feed > div,
div#openModal-feed2 > div{
    width: 510px;
    position: relative;
    margin: 10% auto;
    background: #FFF;
    background: -moz-linear-gradient(#fff, #999);
        margin-top: 40px;
}
button#btn_feed {
    width: 150px;
    height: 50px;
    background-color: #b5575f;
    border: none;
    font-size: 16px;
    font-family: "MyriadPro-Bold";
    color: #ffffff;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
}

.footer-links li {
    margin-bottom: 20px;
    font-size: 16px;
    font-family: "MyriadPro-Regular";
    color: #535353;
    line-height: 5px;
    text-align: justify;
    width: 100%;
}
.footer-links li a {
    color: #d94949;
    text-decoration: none;
}

.tags span a {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: #b5575f;
    float: left;
    margin: 5px;
    padding: 5px;
 	color:#fff;   
}
.tags span a:hover {
 	background-color: #fff;color:#b5575f;  
}